In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
from scipy.stats import norm, t
import scipy

In [ ]:
df = pd.read_csv(r"C:\Users\DELL\OneDrive - OFPPT\Bureau\Sujet sociaux-quotidiens\machine learning\user_behavior_dataset.csv")
df

,User_ID,Device_Model,Operating_System,App_Usage_Time,Screen_On_Time,Battery_Drain,Number_of_Apps_Installed,Data_Usage,Age,Gender,User_Behavior_Class
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3
...,...,...,...,...,...,...,...,...,...,...,...
695,696,iPhone 12,iOS,92,3.9,1082,26,381,22,Male,2
696,697,Xiaomi Mi 11,Android,316,6.8,1965,68,1201,59,Male,4
697,698,Google Pixel 5,Android,99,3.1,942,22,457,50,Female,2
698,699,Samsung Galaxy S21,Android,62,1.7,431,13,224,44,Male,1
699,700,OnePlus 9,Android,212,5.4,1306,49,828,23,Female,3

In [4]:
colonne = df["Screen_On_Time"]
print(colonne)

0      6.4
1      4.7
2      4.0
3      4.8
4      4.3
      ...
695    3.9
696    6.8
697    3.1
698    1.7
699    5.4
Name: Screen_On_Time, Length: 700, dtype: float64

In [5]:
# Sélectionner uniquement la colonne Screen_On_Time
Screen_On_Time = df["Screen_On_Time"]

# Sauvegarder cette colonne dans un fichier texte
Screen_On_Time.to_csv("Screen_On_Time.txt", index=False, header=True)